{% extends "base.jinja2" %}

{% block content %}

    <h2>{% block title %}Change password{% endblock %}</h2>
    <br>
    <form method="post" autocomplete="off">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.old_password.label(class="d-block text-start") }}
            {{ form.old_password(class="form-control") }}
            {{ form.new_password.label(class="d-block text-start") }}
            {{ form.new_password(class="form-control") }}
            {{ form.confirm.label(class="d-block text-start") }}
            {{ form.confirm(class="form-control") }}
        </div>

        <button class="btn btn-outline-dark w-50" type="submit">Change</button>
    </form>
    
{% endblock %}
