{% extends "base.jinja2" %}

{% block content %}

    <h2>{% block title %}Forgot password{% endblock %}</h2>
    <br>
    <form method="post" autocomplete="off">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.email.label(class="d-block text-start") }}
            {{ form.email(class="form-control") }}
        </div>

        <button class="btn btn-outline-dark w-50" type="submit">Send reset link</button>
    </form>
    
{% endblock %}
