{% extends "base.jinja2" %}

{% block content %}
    <h2>{% block title %}Edit{% endblock %} profile</h2>
    <br>
    <form method="post" autocomplete="off">
        {{ form.csrf_token }}

        {{ form.username.label(class="d-block text-start") }}
        {{ form.username(class="form-control") }}<br>

        {{ form.email.label(class="d-block text-start") }}
        {{ form.email(class="form-control") }}<br>

        {{ form.password.label(class="d-block text-start") }}
        {{ form.password(class="form-control") }}<br>

        {{ form.confirm.label(class="d-block text-start") }}
        {{ form.confirm(class="form-control") }}<br>
        <br>
        <button class="btn btn-outline-dark" type="submit">Edit</button>
        <a href="/account/home">
            <button class="btn btn-outline-secondary" type="button" class="btn-cancel">Cancel</button>
        </a>
    </form>

{% endblock %}
