{% extends "base.html" %}

{% block content %}
    <h2>{% block title %}Edit{% endblock %} profile</h2>
    <br>
    <form method="post" autocomplete="off">
        {{ form.csrf_token }}

        {{ form.username.label }}<br>
        {{ form.username }}<br>

        {{ form.password1.label }}<br>
        {{ form.password1 }}<br>

        {{ form.password2.label }}<br>
        {{ form.password2 }}<br>
        <br>
        <button class="btn btn-dark" type="submit">Edit</button>
        <a href="/account/home">
            <button class="btn btn-secondary" type="button" class="btn-cancel">Cancel</button>
        </a>
    </form>

{% endblock %}
