{% extends "base.jinja2" %}
{% from 'bootstrap5/form.html' import render_hidden_errors %}

{% block content %}
    <h2>{% block title %}Sing in{% endblock %}</h2>
    <br>
    <form method="post" autocomplete="off">
        {{ render_hidden_errors(form) }}
        {{ form.csrf_token }}

        {{ form.username.label }}<br>
        {{ form.username }}<br>

        {{ form.password.label }}<br>
        {{ form.password }}<br>
        <br>
        <button class="btn btn-dark" type="submit">Login</button>
        <a href="/">
            <button class="btn btn-secondary" type="button" class="btn-cancel">Cancel</button>
        </a>
        <br>
        <a href="{{ url_for('account_app.sign_up') }}">Create account</a>
    </form>
{% endblock %}
