{% extends "base.jinja2" %}
{% from 'bootstrap5/form.html' import render_hidden_errors %}

{% block content %}

    <h2>{% block title %}Sign in{% endblock %}</h2>
    <br>
    <form method="post" autocomplete="off">
        {{ render_hidden_errors(form) }}
        {{ form.csrf_token }}

        {{ form.username.label(class="d-block text-start") }}
        {{ form.username(class="form-control") }}<br>

        {{ form.password.label(class="d-block text-start") }}
        {{ form.password(class="form-control") }}<br>
        <br>
        <button class="btn btn-outline-dark w-25" type="submit">Login</button>
        <a href="{{ url_for('index') }}">
            <button class="btn btn-outline-secondary w-25" type="button" class="btn-cancel">Cancel</button>
        </a>
        <br><br>
        <a href="{{ url_for('account_app.forgot_password') }}">Forgot password</a>
        <br>
        <a href="{{ url_for('account_app.sign_up') }}">Create account</a>
    </form>
    
{% endblock %}
