{% extends "base.html" %}

{% block content %}
    <h2>{% block title %}Sing up{% endblock %}</h2>

    <form method="post">
        <label>Username:</label><br>
        <input type="text" name="username"><br>
        <label>Password:</label><br>
        <input type="password" name="password1"><br>
        <label>Retype password:</label><br>
        <input type="password" name="password2"><br>
        <br>
        <button type="submit">Sign up</button>
        <a href="/account/sign_in">
            <button type="button" >Cancel</button>
        </a>
    </form>

{% endblock %}
