{% extends "base.html" %}

{% block content %}
    <h2>{% block title %}Sing up{% endblock %}</h2>
    <br>
    <form method="post">
        {{ form.csrf_token }}

        {{ form.username.label }}<br>
        {{ form.username }}<br>

        {{ form.password1.label }}<br>
        {{ form.password1 }}<br>

        {{ form.password2.label }}<br>
        {{ form.password2 }}<br>
        <br>
        <button type="submit">Sign up</button>
        <a href="/account/sign_in">
            <button type="button" class="btn-cancel">Cancel</button>
        </a>
    </form>

{% endblock %}
