<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scala=1.0">

    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap -->
    {{ bootstrap.load_css() }}

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/media/flask-icon.png" type="image/png">
</head>
<body>
    <div class="container vh-100 d-flex justify-content-center align-items-center text-center">
        <div class="card" style="width: 50rem;">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div id="alert_signup" class="alert alert-{{ messages[0][0] }}">
                    {{ messages[0][1] }}

                    <button onclick="close_alert()" type="button" class="btn-close"></button>
                </div>
                {% endif %}
            {% endwith %}
            <div class="card-body">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    {{ bootstrap.load_js() }}

    <script src="/static/js/app.js"></script>
</body>
</html>