{% extends "base.jinja2" %}

{% block content %}

    <h2>{% block title %}Forgot password{% endblock %}</h2>
    <br>
    <form method="post" autocomplete="off" style="max-width: 600px; margin: 0 auto;">
        {{ form.csrf_token }}

        <div class="row">
            <div class="col-md-3 col-sm-12 label">
                {{ form.email.label(class="d-block text-start") }}
            </div>
            <div class="col-md-7 col-sm-12">
                {{ form.email(class="form-control") }}
            </div>
        </div>
        <br>
        <button class="btn btn-dark w-40" type="submit">Send reset link</button>
        <a href="{{ url_for('public_app.sign_in') }}">
            <button class="btn btn-secondary w-25" type="button" class="btn-cancel">Cancel</button>
        </a>
    </form>
    
{% endblock %}
